- content_for :foot do
  :coffeescript
    $ ->
      winHeight = $(window).innerHeight()
      wpHeight = $('#wrapper').innerHeight() 
      marginTop = (winHeight - wpHeight) / 2
      $('#wrapper').css("margin-top":marginTop)
  :css
    body {background: #FF9933}
#login-page
  #wrapper
    #logo
      %span ×3
    .theme
      .kakesan.clearfix
        .box.reverse
          %span ?
        .kake.reverse
          %span ×
        .box.reverse
          %span ?
        .kake.reverse
          %span ×
        .box.reverse
          %span ?
    #description
      %p 好みの合う人とチャットしよう！
      %p 『 ×3トーク 』     
    #button
      = link_to '/auth/twitter' do
        .button.twitter Twiiterでログイン